<%- include("partials/header.ejs") %>
<%- include("partials/main-header.ejs") %>

<div class="baby-icon">👶</div>

<div class="main-block">
  <% if (locals.fN_data) { %>
    <h1 class="main-name-plate">
      <div class="first-name"><%= fN_data.name %></div>
        <div class="middle-name" id="middle-name">
          <%= mD_data.name %>
        </div>
      <div class="last-name">Osawa</div>
    </h1>
  <% } else { %>
    <h1 class="no-name-plate">Generate Names ⬇️</h1>
  <% } %>

  <% if (locals.fN_data) { %>
    <h3 class="sub-name-plate"><%= fN_data.meaning %> : <%= mD_data.meaning %></h3>
    <div class="detail-container" id="detail-container">
      <div class="fN-container">
        <ul>
          <li>Nickname: <%= fN_data.nickname %></li>
          <li>Origin: <%= fN_data.origin %></li>
          <li>Variation(s): <%= fN_data.variation %></li>
        </ul>
      </div>
      <div class="mD-container">
        <ul>
          <li>Nickname: <%= mD_data.nickname %></li>
          <li>Origin: <%= mD_data.origin %></li>
          <li>Variation(s): <%= mD_data.variation %></li>
        </ul>
      </div>
    </div>
  <% } %>

  <div class="form-container">
    <form action="/boy" method="get">
      <input id="boy" type="submit" value="Boy">
    </form>

    <form action="/girl" method="get">
      <input id="girl" type="submit" value="Girl">
    </form>
  </div>

</div>

<%- include("partials/footer.ejs") %>