<%- include("../partials/header.ejs") %>
<%- include("../partials/edit-main-header.ejs") %>

<body class="edit-main">

	<div class="main-block">

		<% if (locals.data) { %>
			<!-- TODO: Style this -->
			<div class="confirmation">
				<h1>Are you sure?</h1>
				<h2><%= message %></h2>
				<p><%= data.name %></p>
				<p><%= data.meaning %></p>
				<p><%= data.nickname %></p>
				<p><%= data.origin %></p>
				<p><%= data.variation %></p>
				<p><%= data.gender %></p>
			</di>
			<form action="/confirm" method="get">
				<input id="df-btn" type="submit" value="CONFIRM">
			</form>
		<% } %>

		<% if (locals.success) { %>
			<h1><%= success %></h1>
			<form action="/edit/add" method="get">
				<input id="df-btn" type="submit" value="GO BACK">
			</form>
		<% } %>

	</div>

</body>

<%- include("../partials/edit-footer.ejs") %>
